@import url('./reset.css');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(9, 16, 30);
    border: none;
}

/* TODO Curtian overlay */
.curtain-navbar .fa-xmark {
    color: #FFFFFF;
    font-size: 44px;
    position: absolute;
    right: 40px;
}

.curtain-navbar {
    background-color: rgba(156, 156, 156, 156);
    height: 100vh;
    position: fixed;
    width: 0%;
    overflow-x: hidden;
}

.curtain-navbar a {
    color: #FFFFFF;
    margin-top: 20px;
    font-size: 34px;
    text-decoration: none;
    transition: 0.5s;
}

.curtain-navbar .overlay-nav-links {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.curtain-navbar a:hover {
    transform: translateX(20px);
}

/* TODO -----HEADER start ------*/
.nav-links,
.btn {
    display: none;
}

.robot-control {
    width: 200px;
}

.imgrobot {
    width: 100%;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
}

.fa-bars {
    color: #FFFFFF;
}

/* TODO -----HEADER end----- */
/* TODO -----Introduction start----- */
.introduction {
    display: flex;
    flex-direction: column-reverse;
}

.genaretion-p {
    font-size: 18px;
    color: #3A68B8;
    font-weight: 600;
    margin: 10px 0px;
}

.artificial-intelligence {
    font-size: 29px;
    color: #FFFFFF;
    font-weight: 800;
}

.lorem-p {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 600;
    margin: 10px 5px;
}

.intro-right-side {
    width: 320px;
    margin: 20px 0px;
}

.intro-right-side img {
    width: 100%;
}

.first-button-intro {
    background-color: #3A68B8;
    color: #FFFFFF;
    width: 171px;
    height: 40px;
    border-radius: 5px;
}

.second-button-intro {
    background-color: #3A68B8;
    color: #FFFFFF;
    width: 171px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 15px 30px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* TODO -----Introduction end----- */

/* TODO -----Logo-impuss start----- */
.logo-ipsum-2,
.logo-ipsum-3,
.logo-ipsum-4 {
    display: none;
}

.logo-ipsumm {
    width: 250px;
    margin: auto;
}

.logo-ipsum-1 {
    margin: 15px 0;
    width: 100%;
}

/* TODO -----Logo-impuss end----- */

/* TODO -----Center start----- */
.center {
    display: flex;
    flex-direction: column;
}

.center-left-side {
    width: 320px;
    margin: 20px 0;
}

.center-left-side img {
    width: 100%;
}

.apply-deep-data {
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    color: white;
    margin: 10px 0;
}

.visual-mockups {
    color: white;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

.learn-more {
    background-color: #3A68B8;
    color: #FFFFFF;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
}

/* TODO -----Center end----- */

@media(min-width:768px) {

    .curtain-navbar {
        display: none;
    }

    .nav-links,
    .btn {
        display: block;
    }

    .btn {
        background-color: blue;
        color: aliceblue;
        border-radius: 5px;
        width: 70px;
        height: 32px;
    }

    .fa-bars {
        display: none;
    }

    nav>a {
        justify-content: space-between;
        margin: 0px 3px;
        text-decoration: none;

    }

    .header-section {
        width: 700px;
        margin: auto;
        margin-top: 10px;
    }

    .introduction {
        width: 700px;
        margin: auto;
        flex-direction: row;
    }

    .artificial-intelligence {
        font-size: 40px;
    }

    .lorem-p {
        width: 300px;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        margin: 20px 0px;
    }

    .genaretion-p {
        margin: 10px 0px;
    }

    .intro-left-side {
        padding-top: 50px;
    }


    .buttons {
        justify-content: stretch;
    }

    .intro-right-side {
        padding-top: 20px;
    }


    .rocket-intro {
        width: 300px;
    }


    .logo-ipsumm {
        width: 700px;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    .logo-ipsum-1,
    .logo-ipsum-2,
    .logo-ipsum-3,
    .logo-ipsum-4 {
        display: block;
        width: 160px;
    }

    .center {
        width: 700px;
        margin: auto;
        flex-direction: row;
        justify-content: space-between;
    }

    .apply-deep-data {
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
    }

    .visual-mockups {
        font-size: 23px;
        font-style: normal;
        font-weight: 600;
        margin-top: 20px;
    }

    .center-left-side img {
        width: 345px;
    }

    .center-right-side {
        margin: 50px 0 30px 0;
        width: 345px;
    }

    .learn-more {
        margin-top: 20px;
    }
}

@media (min-width:1080px) {
    .header-section {
        width: 1000px;
        margin: auto;
        margin-top: 15px;
    }

    nav>a {
        justify-content: space-between;
        margin: 0px 15px;
    }

    .introduction {
        width: 1000px;
        margin: auto;
        justify-content: space-between;
        margin-top: 30px;
    }

    .intro-right-side {
        width: 442px;
    }

    .intro-left-side {
        width: 550px;
        margin-top: 30px;
    }

    .first-button-intro {
        margin: 0 10px 0 0;
    }

    .genaretion-p {
        margin-bottom: 20px;
    }

    .lorem-p {
        width: 558px;
        margin-top: 30px;
    }

    .buttons {
        margin-top: 40px;
    }

    .rocket-intro {
        height: 400px;
    }

    .logo-ipsumm {
        width: 1000px;
        margin: 45px auto;
        display: flex;
        justify-content: space-between;
    }

    .logo-ipsum-1,
    .logo-ipsum-2,
    .logo-ipsum-3,
    .logo-ipsum-4 {
        display: block;
        width: 225px;
    }

    .center {
        width: 1000px;
        justify-content: space-between;
      
    }

    .center-left-side {
        width: 600px;
        height: 600px;
    }

    .center-left-side img {
        width: 100%;
        height: 100%;
    }

    .center-right-side {
        width: 400px;
        height: 600px;
    }

    .apply-deep-data {
        margin-top: 150px;
    }

    .visual-mockups {
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        margin: 25px 0;
    }

    .learn-more {
        margin-bottom: 150px;
        width: 150px;
        border-radius: 5px;
    }


}